header {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color:goldenrod;
}
#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

.logo {
    display: inline-block;
    width: 23%;
    padding: 1%;
    align-items: center;
}
.nav-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}
.nav-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}
.nav-button:hover {
    color: forestgreen;
}
.button-selected {
    color:forestgreen;
}

body {
    background-color: lightpink;
}

/* hero section */
.hero {
    background-image: url(../images/Hero.svg);
    /* background-position: left top; */
    /* background-repeat: no-repeat; */
    background-position: left top;
    background-repeat: no-repeat;
    height: 400px;
    padding: 25%;
    
}
.heroText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.heroAvatar {
    align-items: center;
}

.button {


}