nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(213, 194, 95);
}
.logo {
    display: flex;
    justify-content: flex-start;
}
.nav-button-container {
    padding: 10px;
    display: inline-block;
}
.nav-button {
    padding: 20px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heroSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.leftHero {
    display: flex;
    justify-content: flex-start;
}
button {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer {
    display: flex;
    justify-content: center;
    background-color:rgb(152, 149, 193);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-button {
    display: flex;
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}